<% if (UserStudent.length > 0) { %>
  <% var l=UserStudent.length; %>
  <b>Tìm thấy <%- l %> thông báo điểm danh</b>
<div class="table-responsive">
  <table class="table text-center table-bordered table-hover">
    <thead>
      <tr class="d-flex">
        <th class="col-1">STT</th>
        <th class="col-2">Tên hoạt động</th>
        <th class="col-3">Ngày điểm danh</th>
        <th class="col-3">Hết hạn</th>
        <th class="col-3"> Tích điểm danh</th>
      
      </tr>
    </thead>
    <tbody>
      <% for(var i=0;i<l;i++){ %>
          <% if (UserStudent[i].ThoiGian.getTime() >= new Date().getTime() ) { %>
            <tr class="d-flex alert-success">
              <th class="col-1"><%- i+1 %></th>
              <th class="col-2"><%- UserStudent[i].TenSuKien %></th>
              <th class="col-3"> <%-UserStudent[i].ThoiGian.getDate() %>-<%-UserStudent[i].ThoiGian.getMonth() + 1 %>-<%-UserStudent[i].ThoiGian.getFullYear() %></th>
              <th class="col-3"><%-UserStudent[i].ThoiGian.getHours() %>:<%-UserStudent[i].ThoiGian.getMinutes() %></th>
              <th class="col-3">
                <button type="submit" id="completed-task" class="fabutton">
                  <i class="fab fa-hornbill fa-2x fa-spin alert-primary" data-toggle="modal" data-target="#submitDiemDanh" onclick="submitAT('<%-UserStudent[i].IDHoatDong %>')"></i>
                </button></th>
            </tr>
       
           <% } %>
        <% } %>
    </tbody>
  </table>
</div>

<% } else { %>
  <b>Bạn không có thông báo điểm danh!</b><br>
  <% } %>

