


<% if (UserStudent.length > 0) { %>
  <% var l=UserStudent.length; %>
  <b>Tìm thấy <%- l %> thông báo điểm danh</b>
<div class="table-responsive">
  <table class="table text-center table-bordered table-hover">
    <thead>
      <tr class="d-flex">
        <th class="col-1">STT</th>
        <th class="col-2">Tên hoạt động</th>
        <th class="col-3">Ngày điểm danh</th>
        <th class="col-3">Hết hạn</th>
        <th class="col-3"> Tích điểm danh</th>
      
      </tr>
    </thead>
    <tbody>
      
      <% for(var i=0;i<l;i++){ %>
          
          <% if (Date.parse(UserStudent[ i].ThoiGian.toLocaleString("en-US",{timeZone: 'UTC'})) >=Date.parse( new Date())  ) { %>


            <tr class="d-flex alert-success">
              <th class="col-1"><%- i+1 %></th>
              <th class="col-2"><%- new Date().toLocaleString("en-US",{timeZone: 'UTC'}) %></th>
              <th class="col-3"> <%-UserStudent[i].ThoiGian.getDate() %>-<%-UserStudent[i].ThoiGian.getMonth() + 1 %>-<%-UserStudent[i].ThoiGian.getFullYear() %></th>

                  <script type="text/javascript">
                      console.log(new Date())
                      // Update the count down every 1 second
                      var x = setInterval(function() {
                        // Get today's date and time
                        
                 
                        // Time calculations for days, hours, minutes and seconds
                        var days = Math.floor((<%- Date.parse(UserStudent[ i].ThoiGian.toLocaleString("en-US",{timeZone: 'UTC'})) %> - Date.parse( new Date())) / (1000 * 60 * 60 * 24));
                        var hours = Math.floor(((<%- Date.parse(UserStudent[ i].ThoiGian.toLocaleString("en-US",{timeZone: 'UTC'})) %> - Date.parse( new Date())) % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                        var minutes = Math.floor(((<%- Date.parse(UserStudent[ i].ThoiGian.toLocaleString("en-US",{timeZone: 'UTC'})) %> - Date.parse( new Date())) % (1000 * 60 * 60)) / (1000 * 60));
                        var seconds = Math.floor(((<%- Date.parse(UserStudent[ i].ThoiGian.toLocaleString("en-US",{timeZone: 'UTC'})) %> - Date.parse( new Date())) % (1000 * 60)) / 1000);
                   
                        // Display the result in the element with id="demo"
                        $('#countTime<%-i%>').html(days + "d " + hours + "h "
                        + minutes + "m " + seconds + "s ") 
     
                        // If the count down is finished, write some text
                        if ((<%- Date.parse(UserStudent[ i].ThoiGian.toLocaleString("en-US",{timeZone: 'UTC'})) %> - Date.parse( new Date()))< 0) {
                          clearInterval(x);
                          document.getElementById("countTime<%-i%>").innerHTML = "Hết thời gian điểm danh";
                          $.notify({
                            message: ' <strong>Đã hết thời gian điểm danh</strong>', icon:'fa fa-warning', },{type: 'warning'});
                            $('#completed-task<%-i%>').remove();
                          
                          
                            setTimeout(`window.location.href="/student-diemdanh"`,3000);
                          }
                      }, 1000);
                  </script>  

                <th class="col-3" id="countTime<%-i%>" > </th>
                <th class="col-3">
                <button type="submit" id="completed-task<%-i%>" class="fabutton">
                  <i class="fab fa-hornbill fa-2x fa-spin alert-primary" data-toggle="modal" data-target="#confirmAttendance" onclick="authenticateAt('<%-UserStudent[i].IDHoatDong %>')"></i>
                </button></th>
            </tr>
       
           <% } %>
        <% } %>
    </tbody>
  </table>
</div>

<% } else { %>
  <b>Bạn không có thông báo điểm danh!</b><br>
  <% } %>

